﻿@model IEnumerable<AppTest.Models.TimeSheet>

@{
    ViewData["Title"] = "Index";
    int i = 0;
}

<h1><i class="bi bi-card-list"></i>  TimeSheet</h1>

<div class="card">
    <div class="card-header">
        <div class="row">
            <div class="col-md-12 text-end">
                <a asp-controller="TimeSheets" asp-action="Create" class="btn btn-outline-success"><i class="bi bi-plus-square-fill"></i> Create TimeSheet</a>
            </div>

        </div>
    </div>
    <h3 class="text-center">Total @ViewBag.Total hours</h3>
    <div class="card-body p-3">
        <table class="table table-striped table-hover">
            <thead>
                <tr>
                    <th scope="col" style="width:150px;" class="text-center">Employee's Name</th>
                    <th scope="col" style="width:150px;" class="text-center">Day of Month</th>
                    <th scope="col" style="width:200px;" class="text-center">Time start</th>
                    <th scope="col" style="width:150px;" class="text-center">Time BreakStart</th>
                    <th scope="col" style="width:200px;" class="text-center">Time BreakEnd</th>
                    <th scope="col" style="width:300px;" class="text-center">Time end</th>
                    <th scope="col" style="width:300px;" class="text-center">total</th>
                    <th scope="col" class="text-center"></th>
                </tr>
            </thead>

            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <th scope="row" class="text-center align-middle">@item.employee.FirstName @item.employee.LastName</th>
                        <td class="text-center align-middle">@item.Start.Day / @item.Start.Month</td>
                        <td class="text-center align-middle">@item.Start.TimeOfDay</td>
                        @if (item.BreakStart != null)
                        {
                            <td class="text-center align-middle">@item.BreakStart.Value.TimeOfDay</td>
                            <td class="text-center align-middle">@item.BreakEnd.Value.TimeOfDay</td>
                        }
                        else
                        {
                            <td class="text-center align-middle"></td>
                            <td class="text-center align-middle"></td>
                        }
                        <td class="text-center align-middle">@item.End.TimeOfDay</td>
                        <td class="text-center align-middle">
                            @ViewBag.Hour[i].ToString("##0.##") Hours
                        </td>
                        <td class="text-center align-middle">
                            <a asp-controller="TimeSheets" asp-action="Edit" asp-route-Id="@item.Id" class="btn btn-outline-warning"><i class="bi bi-box-arrow-in-up"></i>Edit TimeSheets</a>
                            <a asp-controller="TimeSheets" asp-action="Delete" asp-route-Id="@item.Id" class="btn btn-outline-danger"><i class="bi bi-box-arrow-in-up"></i>Delete TimeSheets</a>
                        </td>
                    </tr>

                    i++;
                }
            </tbody>
        </table>
    </div>

</div>
